Source: pyabiword
Section: python
Priority: optional
Maintainer: Debian OLPC <debian-olpc-devel@lists.alioth.debian.org>
Uploaders: Jonas Smedegaard <dr@jones.dk>
Build-Depends: autotools-dev,
 devscripts,
 debhelper,
 dh-buildinfo,
 python (>= 2.6.5),
 cdbs (>= 0.4.97~),
 python-all-dev,
 dh-autoreconf,
 libabiword-2.9-dev,
 python-gtk2-dev,
 libfribidi-dev,
 libwv-dev,
 libenchant-dev,
 librdf-dev,
 librasqal-dev,
 libcairo-dev,
 libpango1.0-dev,
 libgtk-3-dev,
 librsvg2-dev,
 libwmf-dev,
 libfreetype6-dev,
 libz-dev,
 libx11-dev,
 libexpat-dev,
 libjpeg-dev,
 libpng-dev,
 libxml2-dev,
 libglib2.0-dev,
 libgsf-1-dev
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/git/collab-maint/pyabiword
Vcs-Browser: http://git.debian.org/?p=collab-maint/pyabiword.git
Homepage: http://www.abisource.com/wiki/PyAbiWord

Package: python-abiword
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${cdbs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Python AbiWidget and TableWidget wrappers
 PyAbiWord is a set of wrappers around AbiWidget that enable Python
 programmers to use AbiWord in their PyGtk applications.
 .
 In addition to AbiWidget, PyAbiWord also wraps a useful little widget
 TableCreator. This widget allows users to interactively insert a table
 of specified size by dragging a mouse.
